* {
  border: 1px solid black;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41);
}

#container {
  display: flex;
  height: 100%;
  width: 1400px;
  background-color: white;
  
}

#image-banner {
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
  background-image: url("resources/halie-west-unsplash-ferns.jpg");
  background-size: auto 100%;
  background-position: center;

}

#image-banner > p {
  display: flex;
  color: white;
  background-color: rgba(0 0 0 / 75%);
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20em;
  height: 6em;
  width: 100%;
}